.page-header
  = link_to courses_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_course_path(@course), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit

%dl.dl-horizontal
  %dt Name:
  %dd= @course.name
  %dt Category:
  %dd= @course.category
