<div id="page" class="hfeed site">
		<header id="masthead" class="site-header" role="banner">
			<div id="navbar" class="navbar">
				<nav id="site-navigation" class="navigation main-navigation" role="navigation">
					<h3 class="menu-toggle">Menu</h3>
					<div class="menu-menu-2-container"><ul id="menu-menu-2" class="nav-menu">
<li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="http://nuvuthemes.com/shop/woozoom/">Download</a></li>
<li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66"><a href="../../index.html">Shop</a></li>
<li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="../product/video-links-demo/index.html">WooCommerce Video Links</a></li>
<li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-262 current_page_item menu-item-268"><a href="index.html">Wah-Menu</a></li>
<li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="../articlescroll/index.html">ArticleScroll</a></li>
</ul></div>				
<form role="search" method="get" class="search-form" action="http://www.nuvuthemes.com/woozoom/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
				</label>
			</form>		
</nav><!-- #site-navigation -->
			</div><!-- #navbar -->
		</header><!-- #masthead -->

</div>