
 <div class="fullsize">
      <div class="menu-search">
          <form class="navbar-form" role="search"> 
                <div class="form-group">
                  <div class="input-group">
                  <%= form_tag root_path, method: :get, :id => "lesson_search" do %>
      <%= text_field_tag :query, params[:query], class: "form-control input-sm no-border rounded", placeholder: "Searching...." %>
                  <% end %>
                  </div>
                </div>
          </form> 
      </div>
      <div id="lesson">
        <%= render 'lessons' %>                   
      </div>
</div><!--end container-->



<%= render "layouts/footer" %>


   <script type="text/javascript">
                          var jQuery = jQuery.noConflict();
                          jQuery(document).ready(function(){

                          //set width and heights based on dynamic sizes
                          });
                      </script>
                      <style>
                          .refolioimg{
                            width:335px!important;
                           height:272px!important;

                          }
                          .refolioimg.ref-small{
                            width:200px!important;
                           height:190px!important;

                          }
                          .refolioimg.ref-medium{
                            width:335px!important;
                           height:272px!important;

                          }
                          .refolioimg.ref-large{
                            width:400px!important;
                           height:340px!important;

                          }
                          .ref-active {
                              z-index:9999!important;
                             margin-top:-70px!important;
                             width:375px!important;
                              margin-left:-20px!important;
                                height:670px!important;
                              }
                          .ref-active.ref-small {
                              z-index:9999!important;
                             margin-top:-70px!important;
                             width:240px!important;
                              margin-left:-20px!important;
                                height:400px!important;
                              }
                              .ref-active.ref-medium {
                              z-index:9999!important;
                             margin-top:-70px!important;
                             width:375px!important;
                              margin-left:-20px!important;
                                height:670px!important;
                              }
                              .ref-active.ref-large {
                              z-index:9999!important;
                             margin-top:-70px!important;
                             width:440px!important;
                              margin-left:-20px!important;
                                height:800px!important;
                              }
                           .refvotes{

                           }
                      </style>

