<div id="stm-menu">
    <span class="fa fa-align-center stm-close" style="top:3px;"></span>
    <div class="scroll-cont mCustomScrollbar _mCS_1" style="height: 90%;">
        <div class="mCustomScrollBox mCS-dark-thin" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;">

            <div class="mCSB_container" style="position: relative; top: 0px; height: 300px;">
                <ul class="topnav">
                    <li id="stm-ebook" class="isactive">
                        <%= link_to '<span class="fa fa-home" style="font-size:17px;width:20px;"></span> hOme'.html_safe, root_path, class: "stm-nav-item" %>
                    </li>
                    <li id="stm-weg" class="">
                        <%= link_to '<span class="fa fa-lightbulb-o" style="font-size:18px;width:20px;"></span> cOurse'.html_safe, root_path, class: "stm-nav-item" %>
                    </li>
                    <li id="stm-World" class="">
                        <%= link_to '<span class="fa fa-envelope-o" style="font-size:15px;width:20px;"></span> aBout'.html_safe, root_path, class: "stm-nav-item" %>
                    </li>
                    <li id="stm-grill" class="">
                        <%= link_to '<span class="fa fa-lock" style="font-size:17px;width:20px;"></span> lOgin'.html_safe, user_session_path, class: "stm-nav-item" %>
                    </li>
                </ul>
            </div>

             <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftvermech&amp;width=246&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1468225413421642" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:246px; height:258px;" allowTransparency="true"></iframe>


            <div class="mCSB_scrollTools" style="position: absolute; display: block;">
                <a class="mCSB_buttonUp" oncontextmenu="return false;"></a>
                <div class="mCSB_draggerContainer">
                    <div class="mCSB_dragger" style="position: absolute; top: 0px; height: 193px;" oncontextmenu="return false;">
                        <div class="mCSB_dragger_bar" style="position: relative; line-height: 193px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            <a class="mCSB_buttonDown" oncontextmenu="return false;"></a>
            </div>
        </div>

    </div>
</div>